/*styling of page 1 and 2 by megan*/


/*fonts taken from google fonts*/
.pontano-sans-<uniquifier> {
  font-family: "Pontano Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.stint-ultra-expanded-regular {
	font-family: "Stint Ultra Expanded", serif;
	font-weight: 400;
	font-style: normal;
}

/*adjusting height and width of image*/
.sign-img{
	height:300px;
	width:450px;
}

/*adjusting image size and centring*/
.climateimg{
	height: 400px;
	width: 70%;
	display:block;
	margin: auto;
	margin-bottom:20px;
	margin-top:20px;	
}

/*adjusting image size*/
.card-img{
	height: 400px;
	width: 100%;
}

/*adjusting image size and making corners curved*/
.facts-img{
	display:block;
	margin: auto;
	height:300px;
	width:400px;
	border-radius:8px;
}

/*making card text white, changing font, and centring it*/
.card-text{
	color: white;
	font-family: "Stint Ultra Expanded", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
}

/*making card title white, changing font, and centring it*/
.card-title{
	color: white;
	font-family: "Stint Ultra Expanded", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: 50px;
}

/*changing font, and font size*/
.climate-facts{
	font-family: "Pontano Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	padding: 20px;
}

/*changing font, and font size*/
.climate-info{
	font-family: "Pontano Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	padding: 2px;	
}

/*setting the background colour*/
body{
	background-color: #A8D08D;
}

/*changing paragraph colour, font, and size*/
p{
	color: white;
	font-family: "Pontano Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	padding:5px;
}

/* changing headings colour and font*/
h1,h2,h3,h4{
	color: #00793D;
	font-family: "Stint Ultra Expanded", serif;
	font-weight: 400;
	font-style: normal;
	padding:5px;
}

/*adjusting button colour, font, text colour, and corners*/
.green-button{
	border-radius: 12px;
	color:white;
	background-color: #6DBE45;
	font-family: "Stint Ultra Expanded", serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom:20px;
	margin-top:30px;	
}

/*making nav bar white and changing the font*/
.nav-link{
	color: white;
	font-family: "Stint Ultra Expanded", serif;
	font-weight: 400;
	font-style: normal;
}

/*making a box for quote generator*/
.outer-container{
	Background-color: #307351;
	border-radius: 8px;
	padding: 10px;
	margin: auto;
	margin-top:10px;
	margin-bottom:20px;
}

/*changing buttong colour, font and corners*/
.quotes-button{
	border-radius: 12px;
	color:white;
	background-color: #6DBE45;
	font-family: "Stint Ultra Expanded", serif;
	font-weight: 400;
	font-style: normal;
}


/* styling of page 3 and 4 by      */
